# Python-specifikke filer
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtuelle miljøer
venv/
.env

# VS Code settings
.vscode/

# Logfiler
*.log

# Operativsystem-specifikke filer
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE-specifikke filer
.idea/
*.iml

# Store filer eller uønskede filer
node_modules/
